         
                        <h1 class="text-uppercase" style="color:#E8A75D;">Hello</h1>
                        <h2 class="text-uppercase"style="color:#E8A75D;">{{ user.first_name}}</h2>


                         <h2 class="mail" style="color:#E8A75D;">Votre adresse email est {{ user.email}}</h2>
         <a href="{% url 'change_password' %}" class="mail" style="color:#E8A75D;" >Change your password</a>
          <a href="{% url 'display_account' %}" class="mail" style="color:#E8A75D;" >Afficher films enregistrés</a>