{% extends 'base.html' %}
{% load static %}

{% block title %} Compte {% endblock title %}

 {% block header %}

             <header class="masthead" style="background-image: url({% static 'img/bg-account.jpg' %}); height:80px;">
                <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                   <div class="col-lg-10 align-self-end">
                        <div class="account">
                                
                            <h1 class="text-uppercase" style="color:#b8001e;">Vos films préférés</h1>
                            <hr class="divider my-4" />
                        </div>
                    </div>
                 </div>
                </div>
                
           
            </header>
{% endblock header %}

{% block content %}
  <section class="page-section bg-primary" id="about">
                    <div class="container" style="margin-left: 15px;">
 {% for favorite in page_obj %}
                    <div class="results col-md-4 col-sm-6;">
                           <h4> Titre </h4>
                        <p><a  style="display:inline; color: #7d7772;"href="{% url 'lire' favorite.movie_saved.id_code %}" >{{favorite.movie_saved.movie_title }}</a>
                       <p> <img src= {{ favorite.movie_saved.image_movie }}  alt="favoris" style="height:100px; width:100px;border-radius: 10px; position: relative; z-index: 1"></p>


 </div>
        
{% empty %}
         <h1 class=" mb-4 col-12 text-center" style="color: black;">Aucun film enregistré</h1>
                     {% endfor %} 
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                           {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> </div>
</section>
{% endblock content %}