


                      {% for movie in page_obj %}
                    
                          <h3> Titre film</h3>
                        <p><a class=" mb-4" style="display: block; color: #E8A75D;" href="{% url 'lire' movie.id_code %}">{{movie.movie_title }}</a></p>
                        <p><img src= {{ movie.image_movie}} style="height:100px; width:100px;border-radius: 10px; position: relative; z-index: 1"></p>
                       
                 {% if user.is_authenticated  %}       
                <h4><a class="text-white-75 font-weight-light mb-5" href="{% url 'saving_search' movie.id_code %}">
                  <button type="submit"> Sauvegardez votre recherche </button>
                 {% endif %}
                     
        

              
  
        
{% empty %}
         <h1>Aucun article.</h1>
                     {% endfor %} 
                  
                    <div class="pagination">
                        <span class="step-links">
                           {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> </div>
</section>
