
{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Change password</title>{% endblock title %}
 {% block nav %}
           <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
                       <i class="fas fa-video"></i> L'encyclopédie des films</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
                </div>
            </nav>
        {% endblock nav %}
        {% block header %} 

<header class="masthead" style="background: #e4e3d1;">
            <div class="container h-100">
                    <div class="col-lg-10 align-self-end">
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                      <h4 class="text-white-75 font-weight-light mb-5"> Inscrivez-vous </h4>

<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Inscrivez-vous" />
    </form>
                    </div>
                </div>
    
        </header>
            {% endblock header %}

